*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karma', serif;
    font-weight: normal;
}

h1 {
    line-height: 1.5;
    font-size: 4rem;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

figure{
    margin: 0;
    width: auto;
}

.header {
    background-color: #738292;
    height: 100%;
}

.logo{
    margin:0;
}

.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
}

.logo img{
    height: 50px;
}

.header__container--menu ul{
    margin: 0;
    padding: 0;
}

.header__container--menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 2rem;
    line-height: 9rem;
}

.header__container--menu a{
    color: white;
    text-decoration: none;
}

.header__container--menu a:hover{
    text-decoration: underline;
}
.main {
    height: 300px;
    background-image: url('https://i.imgur.com/ZHhZIcU.jpg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #738292;
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
}

.main__h1{
    font-size: 4rem;
    line-height: 1.5;
    letter-spacing: -.2px;
    margin: 0;
    color: white;
}

.main__h1 strong{
    color: #004eb4
}

.main img{

}

.portfolio{
    background-color: #fafafa;
}

.portfolio h2{
    margin: 0;
}

.portfolio__project{
    /* border-top: 1rem solid red;
    border-right: 1rem solid green;
    border-bottom: 1rem solid pink;
    border-left: 1rem solid orange; */
    /* border-color: red;
    border-width: 1rem;
    border-style: solid; */
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    margin: 1rem;
    margin-bottom: 1.5rem;
    padding: 2rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__div--width {
    width: 50%;
}

.project-image-container {
    width: 50%;
    background-color: wheat;
}

.project-image {
    width: 100%;
}

.footer{
    color: white;
    background-color: #1b2127;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer a{
    color: white;
}

.footer img{
    width: 8rem;
    vertical-align: middle;
}