*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karma', serif;
    font-weight: normal;
}

h1{
    line-height: 1.5;
    font-size: 4rem;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}