*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* 1rem = 10px */
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Karma', serif;
    font-weight: normal;
}

h1 {
    line-height: 1.5;
    font-size: 4rem;
    letter-spacing: -.02rem;
    text-transform: uppercase;
}

.header {
    background-color: #738292;
}

.logo{
    margin:0;
}

.header__container--menu a{
    color: white;
    text-decoration: none;
}

.header__container--menu ul{
    margin:0;
}

.main {
    height: 300px;
    background-image: url('https://i.imgur.com/ZHhZIcU.jpg');
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #738292;
}

.main__h1{
    margin: 0;
    color: white;
}

.main__h1 strong{
    color: #004eb4
}

.portfolio__project{
    /* border-top: 1rem solid red;
    border-right: 1rem solid green;
    border-bottom: 1rem solid pink;
    border-left: 1rem solid orange; */
    /* border-color: red;
    border-width: 1rem;
    border-style: solid; */
    border: 0.1rem solid #ccc;
    border-radius: 1rem;
    margin: 1rem;
}

.article__div--width {
    width: 50%;
}

.project-image-container {
    width: 50%;
    background-color: wheat;
}

.project-image {
    width: 100%;
}